body{
  background-color: #fdfdfd;
  background-image:
  linear-gradient(90deg, transparent 98px, transparent 100px),
  linear-gradient(#e8e7e7 1px, transparent 0px),
  linear-gradient(90deg, #e8e7e7 1px, transparent 0px);
  background-size:100% 100%, 15px 15px, 15px 15px;
  background-position: 0 0, -1px -1px, -1px 1px;
  font-family: Verdana, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
 
  display: block;
  /* position: relative; */
  color: rgb(109, 108, 108);
}

.chat-container {
  width: 1000px;
  min-height: 300px ;
  max-height: 800px;
  display: block;
  border: 2px, grey, solid;
  border-radius: 20px;
  position: relative;
  background-color: #fdfdfd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  height: auto;
}

.menu{
  width: 1000px;
  height: 30px;
  padding-top: 10px;
  border-bottom: 2px solid grey;
  
}
.menu-close {
  position: absolute;
  right: 10px;
  left: 950px;
}

.chat-content {
  display: flex;
  min-height: 250px;
  max-height: 750px;
}
.users-list {
  width: 30%;
  height: 100%;
  /* border: 2px, red, solid; */
  list-style-image: url(../img/маркер2.png);
  margin: 10px;
  overflow-y: scroll ;
  
}

.chat {
  width: 70%;
  height: auto;
  border-left: 2px solid grey;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column
}

.messages-chat {
  height: 80%;
  overflow-y: scroll;
  
}

.footer-chat {
  width: 90%;
  height: 10%;
  position: absolute;
  bottom: 10px;
}

.user {
 
  box-sizing: content-box;
  /* border: 1px, black, solid; */
  margin-bottom: 5px;
 
}

.form {
  width: 750px;
  display: block;
  border: 2px, black, solid;
  border-radius: 20px;
  position: relative;
  background-color: #fdfdfd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.form-title {
  text-align: center;
}

.form-nickname {
  width: 90%;
  border-radius: 40px;
  border: 2px, grey, solid;
  margin: 10px;
  padding: 20px;
  color: rgb(109, 108, 108);
  background-color: white;
}

.form-button {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 40px;
  border: 2px, grey, solid;
  margin-bottom: 10px;
  padding: 20px;
  color: rgb(109, 108, 108);
  background-color: white;
  text-align: center;
}

.plug {
  display: none;
}

